<template>
  <div class="editForm">
    <label>Find by name:</label> <input v-model="title">
    <button class="saveButton" v-on:click="find">Find</button>
    <div class="tasks-container">
        <ul v-for="task in tasks" v-bind:style="{'background-color': task.color, 'border-color': borderColors[task.color]}" class="task">
          <li>
            <router-link
              :to="getTaskRoute(task.taskId)"
              style="text-decoration: none"
            >
              {{task.title}}
            </router-link>
          </li>
        </ul>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: "TaskEdit",
    data() {
      return {
        priorities: [
          {text: 'high', value: 3},
          {text: 'medium', value: 2},
          {text: 'low', value: 1}
        ],
        prioritiesMap: {
          high: 3,
          medium: 2,
          low: 1
        },
        borderColors: {
          '#C4DEFD': '#4A99FF',
          '#FFFFE0': '#FED330',
          '#DDFFC2': '#7EBC05',
          '#FFCDD7': '#FF809A'
        },
        colors: [
          {name: 'blue', value: '#C4DEFD', border: '#4A99FF'},
          {name: 'yellow', value: '#FFFFE0', border: '#FED330'},
          {name: 'green', value: '#DDFFC2', border: '#7EBC05'},
          {name: 'red', value: '#FFCDD7', border: '#FF809A'}
        ],
        title: '',
        tasks: {},
      }
    },
    methods: {
      getTaskRoute(taskId) {
        return '/task/' + taskId;
      },
      find() {
        axios.get('http://localhost:3000/tasks/findByTitle/' + this.title)
        .then(response => {
          console.log(response);
          this.tasks = response.data;
        })
        .catch(e => {
          console.log(e);
        });
      },
    },
  }
</script>

<style scoped lang="scss">

  @import '../css/main';


  .editForm {
    margin-left: 2%;
    margin-top: 2%;
  }
  .task {
    width: 20%;
    min-height: $task-height;
    border: 1px solid;
    border-radius: $border-radius;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
  }
</style>
