<template>
  <div class="wrapper">
    <TaskContainer @taskDragged="updateTasks" @taskAdded="addTask" title="To Do"></TaskContainer>
    <TaskContainer @taskDragged="updateTasks" title="In progress"></TaskContainer>
    <TaskContainer @taskDragged="updateTasks" @deleteTasks="deleteTasks" title="Done"></TaskContainer>
  </div>
</template>

<script>
import TaskContainer from '../components/TasksContainer';
import Login from './Login';
import draggable from 'vuedraggable';
import axios from 'axios';

export default {
  name: 'app',
  components: {
    Login,
    draggable,
    'TaskContainer': TaskContainer
  },
  data () {
    return {
      elements1: ['el1', 'el2', 'el3'],
      elements2: ['el3', 'el4', 'el5'],

      toDo: [],
      inProgress: [],
      done: [],
      priorities: [
        {text: 'high', value: 3},
        {text: 'medium', value: 2},
        {text: 'low', value: 1}
      ],
      prioritiesMap: {
        high: 3,
        medium: 2,
        low: 1
      },
      borderColors: {
        '#C4DEFD': '#4A99FF',
        '#FFFFE0': '#FED330',
        '#DDFFC2': '#7EBC05',
        '#FFCDD7': '#FF809A'
      }
    };
  },
  methods: {
    updateTasks: function (taskId, oldStatus, newStatus) {
      axios.put(`http://localhost:3000/tasks/${taskId}`, { status: newStatus });
    },
    addTask: function (task) {
      this.toDo.push(task);
      axios.post('http://localhost:3000/tasks/',
        {
          taskId: task.taskId,
          title: task.title,
          description: task.description,
          status: task.status,
          priority: task.priority,
          color: task.color
        });
    },
    deleteTasks: function () {
      this.done.forEach((task) => {
        axios.delete(`http://localhost:3000/tasks/${task.taskId}/`)
          .then((response) => console.log(response));
      });
      this.done = [];
    }
  },
  mounted () {
    this.$store.commit('setId');



  }
};
</script>

<style lang="scss" scoped>

  @import '../css/main.scss';

  .wrapper {
    text-align: center;
  }

</style>
