<template>
  <div>
    <div class="centered" style="margin-left: 50px;">

      <form class="login" @submit.prevent="login">
        <h1>Sign in</h1>
        <label>Username</label>
        <input required v-model="username" type="text" placeholder="Username"/><br/>
        <label>Password</label>
        <input required v-model="password" type="password" placeholder="Password"/>
        <hr/>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</template>

<script>
  import Navigation from './Navigation';

  export default {
    name: 'Login',
    components: {
      'Navigation': Navigation
    }
  };
</script>

<style lang="scss" scoped>

  @import '../css/main.scss';

  label {
    padding-right: 5px;
  }

  input {
    margin-bottom: 5px;
  }
</style>
