<template>
  <div class="navbar">
    <ul class="navbar">
      <li><router-link to="/">Home</router-link></li>
      <li><router-link to="/find">Find</router-link></li>
      <li class="active" style="float:right"><router-link to="/login">Login</router-link></li>
    </ul>
  </div>

</template>

<script>
  export default {
    name: 'Navigation'
  };
</script>

<style scoped lang="scss">

  @import '../css/main.scss';

  .navbar {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #111;
    }

    .router-link-active {
      background-color: #4CAF50;
    }

  }
</style>
