<template>
  <div>
    <button class="addButton" v-on:click="openModal" type="button">+</button>

    <modal name='add-task'>
      <div class="modal-content" v-bind:style="{backgroundColor: selectedColor.background}">
        <div class="left">
          <label>Task title:</label><input v-model="newTask" v-on:keyup.enter="sendNewTask" placeholder="Task title..."/><br/>

          <label>Task description:<textarea v-model="description" rows="4" style="width: 100%;" placeholder="Task description..."></textarea></label>
        </div>
        <div class="right">
          <label>Task priority:<br/>
            <select v-model="selectedPriority">
              <option disabled value="">Priority</option>
              <option v-for="priority in priorities" v-bind:value="priority.value">
                {{ priority.text }}
              </option>
            </select>
          </label><br/>

          <label>Task color:<br/>
            <select v-model="selectedColor">
            <option disabled value="">Color</option>
            <option v-for="color in colors" v-bind:value="color.value" v-bind:style="{color: color.border}">
              {{color.name}}
            </option>
            </select>
          </label><br/>
        </div>
        <div class="buttons">
          <button class="saveButton" v-on:click="sendNewTask(closemodal=false)">Save and add more</button>
          <button class="saveButton" v-on:click="sendNewTask(closemodal=true)">Save and close</button>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
export default {
  name: 'TaskForm',
  data () {
    return {
      newTask: '',
      selectedColor: '#C4DEFD',
      selectedPriority: 0,
      description: '',
      priorities: [
        {text: 'high', value: 3},
        {text: 'medium', value: 2},
        {text: 'low', value: 1}
      ],
      colors: [
        {name: 'blue', value: '#C4DEFD', border: '#4A99FF'},
        {name: 'yellow', value: '#FFFFE0', border: '#FED330'},
        {name: 'green', value: '#DDFFC2', border: '#7EBC05'},
        {name: 'red', value: '#FFCDD7', border: '#FF809A'}
      ]
    };
  },
  methods: {
    sendNewTask (closemodal) {
      if (this.newTask !== '') {
        this.$emit('keyupEnter', this.newTask, this.selectedPriority, this.selectedColor, this.description);
        this.newTask = '';
        this.description = '';
        this.selectedPriority = 0;
        if (closemodal) {
          this.$modal.hide('add-task');
        }
      } else {
        alert('Task title cannot be empty');
      }
    },
    openModal () {
      this.$modal.show('add-task');
    }
  },
  computed: {
    id: function () {
      return this.$store.state.id;
    }
  }
};
</script>

<style scoped lang="scss">

  @import '../css/main';

  input {
    width: 100%;
    margin-bottom: 12px;
    font-size: 14px;
  }

  select {
    width: 50%;
    margin-bottom: 12px;
    font-size: 14px;
  }

  .addButton {
    color: green;
    font-weight: bold;
    background-color: #4CAF50;
    border: 1px solid green;
    border-radius: 2 * $border-radius;
    width: 50px;
    margin-bottom: 5px;
  }

  .modal-content {
    text-align: center;
    height: 300px;
    padding: 50px
  }

  .saveButton {
    font-size:14px;
    font-weight: bold;
  }

  .left {
    float:left;
    width: 60%;
    height: 70%;
  }

  .right {
    float: right;
    width: 30%;
    height: 70%;
  }
  
  .buttons {
    float: bottom;
    width: 100%;
  }

</style>
