<template>
  <div class="editForm">
    <div class="left">
      <label>Task title:</label> <input v-model="task.title" :placeholder="task.title">
      <br>
      <label>Task description:</label> <input v-model="task.description" :placeholder="task.description"/>
    </div>
    <div class="right">
      <label>Task priority:
        <select v-model="task.priority">
          <option disabled value="">Priority</option>
          <option v-for="priority in priorities" v-bind:value="priority.value">
            {{ priority.text }}
          </option>
        </select>
      </label><br/>

      <label>Task color:
        <select v-model="task.color">
          <option disabled value="">Color</option>
          <option v-for="color in colors" v-bind:value="color.value" v-bind:style="{color: color.border}">
            {{color.name}}
          </option>
        </select>
      </label><br/>
    </div>
    <div class="buttons">
      <button class="saveButton" v-on:click="saveTask">Save</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "TaskEdit",
  data() {
    return {
      priorities: [
        {text: 'high', value: 3},
        {text: 'medium', value: 2},
        {text: 'low', value: 1}
      ],
      prioritiesMap: {
        high: 3,
        medium: 2,
        low: 1
      },
      borderColors: {
        '#C4DEFD': '#4A99FF',
        '#FFFFE0': '#FED330',
        '#DDFFC2': '#7EBC05',
        '#FFCDD7': '#FF809A'
      },
      colors: [
        {name: 'blue', value: '#C4DEFD', border: '#4A99FF'},
        {name: 'yellow', value: '#FFFFE0', border: '#FED330'},
        {name: 'green', value: '#DDFFC2', border: '#7EBC05'},
        {name: 'red', value: '#FFCDD7', border: '#FF809A'}
      ],
      task: {},
      editedTask: {},
    }
  },
  methods: {
    saveTask() {
      axios.put('http://localhost:3000/tasks/' + this.$route.params.id,
        {
          title: this.task.title,
          description: this.task.description,
          color: this.task.color,
          priority: this.task.priority,
        })
      .then(response => {
        console.log(response);
        this.task = response.data;
      })
      .catch(e => {
        console.log(e);
      });
    },
  },
  mounted () {
    axios.get('http://localhost:3000/tasks/' + this.$route.params.id)
    .then(response => {
      console.log(response);
      this.task = response.data;
    })
    .catch(e => {
      console.log(e);
    });
  },
}
</script>

<style scoped>
 .editForm {
   margin-left: 2%;
   margin-top: 2%;
 }
</style>
