<template>
  <div class="tasks-container">
    <div class="container-header">
      <h2 v-if="isEmpty">Nothing left to do!</h2>
      <h2 v-else>{{title}}</h2>
      <button v-on:click="sortByPriorities('descending')"><img class="icon" src="../assets/arrow-up.png"></button>
      <button v-on:click="sortByPriorities('ascending')"><img class="icon" src="../assets/arrow-down.png"></button>
      <button v-if="isDone" v-on:click="deleteTasks"><img class="icon" src="../assets/filled-trash.png"></button>
    </div>

    <draggable class="drag-area" v-model="tasks" :options="{group:{name: 'tasks', revertClone: 'true'}, animation: '100'}" :move="checkMove">
      <ul v-for="task in tasks" v-bind:style="{'background-color': task.color, 'border-color': borderColors[task.color]}" class="task">

          <li>
            <router-link
              :to="getTaskRoute(task.taskId)"
              style="text-decoration: none"
            >
              {{task.title}}
            </router-link>
          </li>
      </ul>
    </draggable>

    <TaskForm v-if="isToDo" @keyupEnter="sendNewTask"></TaskForm>
  </div>
</template>

<script>
import draggable from 'vuedraggable';
import TaskForm from './TaskForm';
import axios from 'axios';

export default {
  name: 'task-container',
  components: {
    draggable,
    'TaskForm': TaskForm
  },
  props: {
    title: String
  },
  data () {
    return {
      tasks: [],
      priorities: [
        {text: 'high', value: 3},
        {text: 'medium', value: 2},
        {text: 'low', value: 1}
      ],
      prioritiesMap: {
        high: 3,
        medium: 2,
        low: 1
      },
      borderColors: {
        '#C4DEFD': '#4A99FF',
        '#FFFFE0': '#FED330',
        '#DDFFC2': '#7EBC05',
        '#FFCDD7': '#FF809A'
      }
    };
  },
  methods: {
    getTaskRoute(taskId) {
      return '/task/' + taskId;
    },
    checkMove: function (evt) {
      const taskId = evt.draggedContext.element.taskId;
      const oldStatus = evt.from.parentNode.__vue__._props.title;
      const newStatus = evt.to.parentNode.__vue__._props.title;
      this.$emit('taskDragged', taskId, oldStatus, newStatus);
    },
    sendNewTask: function (title, priority, color, description) {
      const id = this.$store.getters.getId;
      console.log(id);
      const newTask = {
        taskId: id,
        title: title,
        priority: priority,
        color: color,
        status: 'To Do',
        description: description
      };

      this.tasks.push(newTask);
      this.$emit('taskAdded', newTask);
      this.incrementId();
    },
    sortByPriorities: function (order) {
      if (order === 'descending') {
        this.tasks.sort((a, b) => parseFloat(b.priority) - parseFloat(a.priority));
      } else {
        this.tasks.sort((a, b) => parseFloat(a.priority) - parseFloat(b.priority));
      }
    },
    deleteTasks: function () {
      this.tasks.forEach((task) => {
        axios.delete(`http://localhost:3000/tasks/${task.taskId}/`)
          .then(() => { this.tasks = []; });
      });
    },
    incrementId: function () {
      this.$store.commit('increment');
    }
  },
  computed: {
    isEmpty: function () {
      return this.tasks.length === 0 && this.isToDo;
    },

    isDone: function () {
      return this.title === 'Done';
    },

    isToDo: function () {
      return this.title === 'To Do';
    }
  },
  mounted () {
    axios.get('http://localhost:3000/tasks/')
      .then(response => {
        response.data.forEach((task) => {
          if (task.status === this.title) {
            this.tasks.push(task);
          }
        });
      })
      .catch(e => {
        console.log(e);
      });
  }
};
</script>

<style scoped lang="scss">

  @import '../css/main';

  h2 {
    margin: 0;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .tasks-container {
    display: inline-block;
    border: 1px solid black;
    vertical-align: top;
    margin-top: 40px;
    width: $task-container-width;
    text-align: center;
    border-radius: $border-radius;
  }

  .task {
    min-height: $task-height;
    border: 1px solid;
    border-radius: $border-radius;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
  }

  .high-priority {
    color: $red;
  }

  .medium-priority {
    color: $yellow;
  }

  .low-priority {
    color: $green;
  }

  .drag-area {
    min-height: $task-height;
  }

  .container-header {
    background-color: lightgrey;
    margin:0;
    border-radius: $border-radius $border-radius 0 0;
  }

</style>
