@import 'variables/colors.scss';
@import 'variables/sizes.scss';
@import 'variables/fonts.scss';

ul {
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
  word-break: break-word;
}

* {
  font-family: $font-primary, $font-secondary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $general-font-color;
}

.icon {
  width: 18px;
  height: 18px;
  background-color: transparent;
}

