<template>
  <div id="app">
    <Navigation></Navigation>
    <router-view></router-view>
  </div>
</template>

<script>
  import Home from './components/Home';
  import Navigation from './components/Navigation';
  import store from './store';

  export default {
    name: 'App',
    components: {
      Home,
      Navigation,
      store
    }
  };
</script>

<style lang="scss">

  @import 'css/main.scss';

</style>
